<a href="/">Home</a> | 
<a href="/saved">Saved articles</a>
<button class="scrape">Scrape New Articles</button>

{{#each article}}
    <p>{{this.title}}</p>
    <p>{{this.link}}</p>
    <p>{{this.summary}}</p>
{{/each}}